{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="bg-light mb-3" style="padding: 30px;">
            <h3 class="mb-4">Forgot Password?</h3>
            <form method="GET" action="">
                {% comment %} {% csrf_token %} {% endcomment %}
                <div class="form-group">
                    <label for="email">Registered Email:</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>
                <div class="form-group mb-0">
                    <input type="submit" value="Submit" class="btn btn-outline bg-dark text-white font-weight-semi-bold py-2 px-3">
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
